.ipynb_checkpoints
subject_matrices.pkl
subject_statistics.pkl
subject_seeds.pkl
subject_seeds.zip
visualize.ipynb
100iterations*
100iterations_extracted
high_std_results.pkl
high_std_summary.txt
data/